.main-container{
    background-color: hsl(180, 29%, 50%) ;
    color:hsl(180, 52%, 96%);
}


.container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 80%;
    background-color: hsl(180, 52%, 96%);
    border-radius: 10px;
    align-items: center;
    margin-bottom:50px;
}
.container button{
    color: hsl(180, 29%, 50%) ;
    background-color: hsl(180, 31%, 95%);
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 600;
    border: none;

}
.btn{
   border: none;
   color:hsl(180, 29%, 50%) ;
}
.list{
    display: flex;
}
.list .log_1